<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Clinic Management System</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <%- include ("partials/nav") %>
    <h1>Patients List</h1>
    <form action="/patient/create" method="get">
      <button type="submit">Add New Patient</button>
    </form>
    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
      <% patients.forEach(patient => { %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.address %></td>
        <td><%= patient.phone %></td>
        <td>
          <form
            action="/patient/edit/<%= patient.id %>"
            method="get"
            style="display: inline"
          >
            <button type="submit">Edit</button>
          </form>

          <form
            action="/patient/delete/<%= patient.id %>"
            method="post"
            style="display: inline"
          >
            <button type="submit" class="delete-btn" style="display: inline">
              Delete
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
